@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Oswald:wght@300;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(imagens/imagemBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

.container1{
    height: 100%;
}

.h1header{
    background-color: rgba(255, 255, 255, 0.333);
    height: 350px;
}

#pizzaria{
    font-family: "Oswald";
    font-size: 13em;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 1.5%;
    color: #B30000;
    font-weight: 300; 
    padding-top: 0px;
}

#rossi{
    font-size: 8em;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2%;
    margin-top: -5%;
    color: #11472C;
    padding: 0px;
}


.container2{
    height: ;
    background-color: rgba(0, 0, 0, 0.403);
}

footer{
    text-align: center;
}

#Copyright{
    color: rgb(203, 203, 203);
    font-size: 10px;
    padding: 5px;
}

a{
    color: rgb(211, 211, 211);
}

@media(max-width:1025px){
    .h1header{
        background-color: rgba(255, 255, 255, 0.333);
        height: 310px;
    }
    
    #pizzaria{
        font-family: "Oswald";
        font-size: 10em;
        margin-top: 4%;
        margin-bottom: 0%;
        margin-left: 1.5%;
        color: #B30000;
        font-weight: 300; 
        padding-top: 0px;
    }
    
    #rossi{
        font-size: 7em;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 2%;
        margin-top: -5%;
        color: #11472C;
        padding: 0px;
    }
}

@media(max-width:769px){
    .h1header{
        background-color: rgba(255, 255, 255, 0.333);
        height: 230px;
    }
    
    #pizzaria{
        font-family: "Oswald";
        font-size: 7.5em;
        margin-top: 4%;
        margin-bottom: 0%;
        margin-left: 1.5%;
        color: #B30000;
        font-weight: 300; 
        padding-top: 0px;
    }
    
    #rossi{
        font-size: 5em;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 2%;
        margin-top: -5%;
        color: #11472C;
        padding: 0px;
    }
}

@media(max-width:426px){
    .h1header{
        background-color: rgba(255, 255, 255, 0.333);
        height: 200px;
    }
    
    #pizzaria{
        font-family: "Oswald";
        font-size: 6em;
        margin-top: 4%;
        margin-bottom: 0%;
        margin-left: 1.5%;
        color: #B30000;
        font-weight: 300; 
        padding-top: 0px;
    }
    
    #rossi{
        font-size:4em;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 2%;
        margin-top: -8%;
        color: #11472C;
        padding: 0px;
    }
}

@media(max-width:321px){
    .h1header{
        background-color: rgba(255, 255, 255, 0.333);
        height: 190px;
    }
    
    #pizzaria{
        font-family: "Oswald";
        font-size: 6em;
        margin-top: 4%;
        margin-bottom: 0%;
        margin-left: 1.5%;
        color: #B30000;
        font-weight: 300; 
        padding-top: 0px;
    }
    
    #rossi{
        font-size:4em;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 2%;
        margin-top: -10%;
        color: #11472C;
        padding: 0px;
    }
}